* -crlf
src/ProjectNeon/Assets/Resources/Fonts/SimplifiedChineseFinalBackup.asset filter=lfs diff=lfs merge=lfs -text
src/ProjectNeon/Assets/Resources/Fonts/SimplifiedChineseFinal.asset filter=lfs diff=lfs merge=lfs -text
src/ProjectNeon/Assets/Resources/Fonts/TraditionalChineseFinal.asset filter=lfs diff=lfs merge=lfs -text
